<div>
    <div class="content">
        <h1>What is Project Cerebro?</h1>
        <p>Cerebro is the first end-to-end platform for Deep Learning model training experimentation at scale.</p>
        <p>Cerebro dramatically simplifies a DL application user’s workflow to build, train, and tune DL on large datasets by offering abstractions and a system architecture</p>
        <p>based on 6 years of research at UC San Diego that brings to bear decades of system design lessons from the world of Big Data systems and data lakehouses.</p>
        <br><br><br><br>
        <h1>Getting Started</h1>
        <p>You can experience Cerebro firsthand with a few simple steps...</p>
    </div>
    <div class="footer">
        <span class="next-btn">
            <button mat-raised-button routerLink="/params" color="primary">Next</button>
        </span>
    </div>
</div>