<div>
    <div class="content">
        <h1>Dataset Locators</h1>
        <h3>Before we begin, we need to know about your dataset. Please fill out the following details:</h3>
        
        <div class="form-region">
            <form [formGroup]="paramsForm">
                <div class="columns">
                    <div class="inside-columns">
                        <h3>Train Data</h3>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label class="label-text" for="train_metadata">Main URL in S3</mat-label>
                                <input matInput id="train_metadata" type="text" formControlName="train_metadata">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label class="label-text" for="train_multimedia">Directory URL in S3</mat-label>
                                <input matInput id="train_multimedia" type="text" formControlName="train_multimedia">
                            </mat-form-field>
                        </div>

                        <h3>Miscellaneous Files</h3>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label class="label-text" for="misc_url">Misc. URLs in S3</mat-label>
                                <input matInput id="misc_url1" type="text" formControlName="misc_url1">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label class="label-text" for="misc_url">Misc. URLs in S3</mat-label>
                                <input matInput id="misc_url2" type="text" formControlName="misc_url2">
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="inside-columns">
                        <h3>Validation Data</h3>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label class="label-text" for="valid_metadata">Main URL in S3</mat-label>
                                <input matInput id="valid_metadata" type="text" formControlName="valid_metadata">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label class="label-text" for="valid_multimedia">Directory URL in S3</mat-label>
                                <input matInput id="valid_multimedia" type="text" formControlName="valid_multimedia">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="inside-columns">
                        <h3>Test Data</h3>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label class="label-text" for="test_metadata">Main URL in S3</mat-label>
                                <input matInput id="test_metadata" type="text" formControlName="test_metadata">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label class="label-text" for="test_multimedia">Directory URL in S3</mat-label>
                                <input matInput id="test_multimedia" type="text" formControlName="test_multimedia">
                            </mat-form-field>
                        </div>
                        <div class="submit-btn">
                            <button mat-raised-button color="accent" (click)="submitFn()" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="spinner">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>
        <span class="next-btn">
            <button mat-raised-button routerLink="/code" color="primary">Next</button>
        </span>
        <span class="prev-btn">
            <button mat-raised-button routerLink="/landing" color="basic">Prev</button>
        </span>
    </div>
</div>